.App {
  text-align: center;
  margin: 40px auto;
  width: 800px;
}

ul{
  list-style-type: none;
}

.fa{
  color: white;
}
 
li{
  width: 500px;
  border: 1px darkslateblue solid;
  border-radius: 7px;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 2px 2px 5px gray;
}

button{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 1px 1px 5px gray;
  background:  darkslateblue;
}

button:hover{
  background: slateblue;
  transition: .1s;
}

button:focus{
  outline: none;
}

button:active{
  box-shadow: none;
}