@import url('https://fonts.googleapis.com/css?family=Ubuntu');

form {
	text-align: center;
}


input{
	width:250px;
	height:24px;
	margin:0 auto;
	text-align: center;
	border: none;
	border-bottom: 1px solid grey;
	font-size: 18px;
}

input:focus{
	outline: none;
	border-bottom: 1px dotted grey;
	transition: .3s;
	background: white;
}

.main{
	margin: 80px auto;
	width:440px;
	font-family: 'Ubuntu' , sans-serif;
}

.wrapper{
	width:400px;
	height:30px;
	border: 1px lightgray solid;
	padding:20px;
	border-radius: 10px;
	font-size: 18px;
	box-shadow: 0 0 12px lightgray;

}

img{
	border: 1px rgba(0,0,0,0.2) solid;
	padding: 8px;
	max-width: 150px;
	float:left;
	box-shadow: 2px 2px 10px grey;

}

label{
	padding: 20px;
}

.user{
	width:400px;
	height:170px;
	padding: 20px;
	border: 1px lightgray solid;
	border-radius: 10px;
	box-shadow: 0 0 12px lightgray;
	margin-top: 10px;
	
}

h3{
	float:left;
	margin-left: 30px;
	font-size: 20px;
	color: grey;	 
}

a{
	
	text-decoration:none;
}

.userinfo{
	height:80px;
}

.button{
	float:right;
	width: 120px;
	height:30px;
	line-height: 30px;
	border-radius: 6px;
	margin-top: 50px;
	border: none;
	background: #458fd9;
	color: white;
	font-weight: 600;
	box-shadow: 1px 1px 6px gray;
	text-align: center;
}
 .button:hover{
 	background: #456fa3;
 	transition: .2s;
 }

 .button:focus{
 	outline:none;
 }

