body{
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.App {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 800px;
    height: 400px;
    margin: 80px auto;
    border: 1px solid lightgray;
    box-shadow: 0px 5px 15px gray;
    border-radius: 8px;
    background: white;
}

.AppHeader {
    align-items: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.AppTitle {
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    padding: 20px;
    width: 25%;
    float: left;
    text-align: center;
}

.AppRoom {
    width: 75%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.AppBody {
    width: 800px;
    height: 400px;
}

.MessageWrapper {
    float: left;
}

h3{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

p{
    padding:1px;
    margin:0;
    font-size: 12px;
}
