
.MessageList{
    background: white;
    height: 310px;
    float:left;
    overflow-y: scroll;
    width:596px;
}

.Message{
    border-bottom: 1px solid lightgray;
	text-align: justify;
	color: black;
	margin: 2px;
	padding:2px 10px;
}