.UserForm {
    width: 520px;
    height: 200px;
    margin: 140px auto;
}

.UserInput {
	margin: 0 auto;
    padding: 20px;
    font-size: 2em;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 510px;
}

.UserInput input{
	margin: 0 auto;
}
