.Users {
    width: 200px;
    height:320px;
    border-right: 1px solid #ccc;
    float: left;
}

.UsersOnline {
    padding: 10px;
    text-align: center;
    background: #ccc;
}

.UserItem {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 0 0 0 5px;
}

.UsersList{
  width: 100%;
  height: 320px;
  padding: 0;
  margin: 0;
}